@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";

html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


/* ===== Custom Scrollbar ===== */

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 9999px;
  border: 3px solid transparent; /* creates spacing effect */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a1a;
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
