.logo {
    display: flex;
    align-items: center;
    transform: scale(0.6);
    /* adjust this value */
    transform-origin: left center;
}

/* Circles */
.circle {
    width: 70px;
    height: 70px;
}

/* Text */
.text {
    display: flex;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
}

.word {
    font-size: 48px;
    font-weight: 600;
    color: #0f1115;
    letter-spacing: -0.5px;
}

.tm {
    font-size: 13px;
    margin-left: 6px;
    margin-top: 8px;
    color: #0f1115;
}